
.container_test {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 2; /* Asigură că containerul este suprapus peste hartă */
}

.container-content {
    text-align: center;
    color: black;
    font-size: 1.5em;
    /* Alte stilizări pentru conținutul containerului */
}