.hidden {
    display: none;
}
.points-container {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-20px);
}

.points-container.visible {
    opacity: 1;
    transform: translateY(0);
}

